<div class="jumbotron">

	<h1>Pins Project</h1>
	<p>Welcome to my rails project
	 
		<%=link_to "Sign Up", "#", class:"btn btn-primary btn-lg" %></p>

		<%=link_to "Log In", "#", class:"btn btn-primary btn-lg" %></p>
</div>	
